---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

body {
    font-size: 16px;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

p {
    font-size: 1em;
}

// Custom styles for the avatar only
.author__avatar {
  img {
    max-width: 180px;
    border-radius: 10%;
  }
}

.sidebar .author__avatar {
  img {
    padding: 4px;
    border: none;
    max-width: 180px;
    width: 100%;
  }
}

